
.retrieve_password {
    /* width: 960px;
        margin: auto; */
    padding: 20px 0;
    display:flex;
    flex-direction:column;
}

    .retrieve_password .title {
        text-decoration: none;
        font-size: 24px;
        color: #ffffff;
    }

    .retrieve_password .head_title {
        font-weight: bolder;
        color: #fff;
        font-size: 30px;
    }

    .retrieve_password .bread_crumb {
        color: #ccc;
        font-size: 20px;
        /* font-family: "Motiva Sans", Sans-serif; */
        font-weight: bolder;
        padding-top: 10px;
    }

        .retrieve_password .bread_crumb a {
            color: #8f98a0;
            text-decoration: none;
        }

    .retrieve_password .retrieve_password_box {
        display: flex;
        flex-direction:column;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 10px 20px 10px 20px;
        margin-top: 30px;
        width: 100%;
        max-width: 500px;
        color: #ffffff;
        font-size: 12px;
        
    }

        .retrieve_password .retrieve_password_box .title {
            color: #5eafde;
            font-size: 16px;
            padding: 6px 0px 6px 0px;
            /* margin-top: 15px; */
        }

        .retrieve_password .retrieve_password_box #forget_account_serch {
            color: #ffffff;
            background-color: #324965;
            border-top: solid 1px #182636;
            border-left: solid 1px #182636;
            border-right: solid 1px #45566a;
            border-bottom: solid 1px #45566a;
            padding: 8px;
            margin-top: 8px;
            width: 300px;
        }

    .retrieve_password .serch_btn {
        display: flex;
        margin: 15px 0 15px 0;
    }

        .retrieve_password .serch_btn > input {
            font-size: 14px;
            padding: 6px 10px 6px 10px;
            background: #264963;
            color: #6abcf0;
            cursor: pointer;
            border: none;
        }

    /* 機器人驗證 */
    .retrieve_password .g-recaptcha {
        margin: 20px 0;
    }

.retrieve_password_box .verify_box {
    display: flex;
    
    flex-direction: column;
}

    .retrieve_password_box .verify_box label {
        display: block;
        width: 100px;
        
        font-size: 15px;
        color: #ccc;
        align-content: center;
    }

    .retrieve_password_box .verify_box input {
        
        min-width: 100px;
        font-size: 15px;
        background-color: #45566a;
        color: #ccc;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        margin-top:10px;
    }
    .retrieve_password_box .verify_box .serch_btn {
        margin: 0px;
    }

    .retrieve_password_box .verify_box .serch_btn > input {
        font-size: 14px;
        padding: 6px 10px 6px 10px;
        background: #264963;
        color: #6abcf0;
        cursor: pointer;
        border: none;
        
    }
.retrieve_password_box #resultMessage{
    margin-top:10px;
}
.retrieve_password_box .verify_box input:focus {
    outline: 1px solid #555;
}

        .retrieve_password_box .verify_box input::placeholder {
            font-style: italic;
        }

.retrieve_password_box .change_password .form_inputs {
    /* display: grid; */
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(3,auto);
}

.retrieve_password_box .change_password .form_inputs {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

    .retrieve_password_box .change_password .form_inputs .input {
        display: flex;
    }

    .retrieve_password_box .change_password .form_inputs label {
        display: block;
        width: 100px;
        ;
        font-size: 15px;
        color: #ccc;
        align-content: center;
    }

    .retrieve_password_box .change_password .form_inputs input {
        width: 50%;
        min-width: 100px;
        font-size: 15px;
        background-color: #45566a;
        color: #ccc;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
    }

        .retrieve_password_box .change_password .form_inputs input:focus {
            outline: 1px solid #555;
        }

        .retrieve_password_box .change_password .form_inputs input::placeholder {
            font-style: italic;
        }

    .retrieve_password_box .change_password .form_inputs .send {
        display: flex;
        width: 150px;
    }

        .retrieve_password_box .change_password .form_inputs .send .submit {
            background: linear-gradient(to right, #06bfff 0%, #2d74ff 100%);
        }
.retrieve_password_box .time {
    flex-grow: 1;
    display:flex;
    justify-content:center;
    align-items:center;
}
    .retrieve_password_box .time .text{
        font-size:20px;
    }
    .retrieve_password_box .time #timer {
        font-size: 20px;
    }

.retrieve_password .retrieve_password_box .form_inputs .send{
    margin-top:10px;
    align-self:center;
}
.retrieve_password_box .turnaccountpage {
    
    margin: 15px 0;
    color: #ccc;
    background: linear-gradient(to right, #06bfff 0%, #2d74ff 100%);
}