@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "變更密碼成功!";
}
@section topCSS {
    <link rel="stylesheet" href="~/css/Login/retrievepassword/retrievepassword.css" asp-append-version="true">
}
<div class="container retrieve_password" id="changePassword">
    <div class="head_title ">Stellar 客服</div>
    <div class="bread_crumb">變更密碼成功</div>
    <div class="retrieve_password_box">
        <a href="/member/Accountpage" class="btn turnaccountpage">回到帳戶詳細個人資料頁</a>
        <p>您的密碼已重新設定成功，請記住您的新密碼，並且不要告訴任何人，以避免您在權益上的損害。</p>
    </div>

</div>
