
@{
    ViewData["Title"] = "變更密碼";
}
@section topCSS {
    <link rel="stylesheet" href="~/css/Login/retrievepassword/retrievepassword.css" asp-append-version="true">
}
<div class="container retrieve_password" id="changePassword">
    <div class="head_title ">Stellar 客服</div>
    <div class="bread_crumb">變更密碼</div>
    <div class="retrieve_password_box">
        <div class="title">變更您的密碼</div>

        <form method="post" id="changePasswordForm" class="change_password" action="/Authentication/ChangePassword">
            <div class="form_inputs">
                <input type="text" name="username" id="username" autocomplete="username" placeholder="用戶名稱" hidden>
                <div class="input">
                    <label for="OriginPassword">原密碼：</label>
                    <input type="password" id="OriginPassword" placeholder="原密碼" name="CurrentPassword" autocomplete="current-password" required>
                </div>

                <div class="input">
                    <label for="NewPassword">新密碼：</label>
                    <input type="password" id="NewPassword" placeholder="新密碼" name="NewPassword" autocomplete="new-password" required>
                </div>
                <div class="input">
                    <label for="CheckPassword">確認新密碼：</label>
                    <input type="password" id="CheckPassword" placeholder="確認新密碼" name="CheckNewPassword" autocomplete="new-password" required>
                </div>
                <div class="send">
                    <input type="submit" class="submit">
                </div>
            </div>
            <div class="error_message" id="errorMessage" style="color:red; display:none;"></div>
            @if (ViewBag.ChangePasswordErr != null)
            {
                <div style="color:red" class="pb-4">
                    @ViewBag.ChangePasswordErr
                </div>
            }
        </form>
    </div>
</div>
@section endJS{
   <script src="~/js/Authentication/ChangePassword.js"></script>
}